.code {

    text-align: center;

    &__html {
        margin-right: 20px;
    }
}

@media (max-width:560px){
    .code {
        &__html {
            display: block;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__css {
            display: block;
            width: 100%;
        }
    }
}