.options {
    &__item {
        position: relative;

        margin: 25px 0;

        .clearfix();
    }
    &__element {
        display: inline-block;

        width: 210px;
    }
    &__name {
        display: inline-block;

        min-width: 125px;
        margin-right: 15px;

        text-align: right;
        text-transform: none;
    }
    &__value {
        display: inline-block;

        width: 35px;
        height: 35px;
        margin-left: 10px;

        text-align: center;
        vertical-align: middle;

        color: #fff;
        border-radius: 50%;
        background: rgba(0,0,0,0.3);
        box-shadow: 0 0 10px 0 #000;
        text-shadow: 1px 1px 2px #000;

        line-height: 35px;
    }
}

@media (max-width: 992px) {
    .options {
        margin-bottom: 25px;
        &__item {
            text-align: center;
        }
        &__name {
            display: block;

            margin-bottom: 10px;

            text-align: center;
        }
    }
}
