.result {
    &__button {
        width: 140px;
        height: 40px;
        margin: 50px auto;

        border-radius: 0;
        background: rgba(0,0,0,0.3);
    }
}

@media (max-width: 992px) {
    .result {
        margin-bottom: 25px;
    }
}